@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-black text-white font-mono m-0 p-0;
    text-rendering: optimizeLegibility;
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  h1, h2, h3 {
    @apply font-mono;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: #ffffff;
  --text: #000000;
}

[data-theme='dark'] {
  --background: #000000;
  --text: #ffffff;
}

::selection {
  @apply bg-blue-500 text-white;
}

.link-hover {
  @apply relative inline-block;
}

.link-hover::after {
  content: '';
  @apply absolute bottom-0 left-0 w-0 h-px bg-white transition-all duration-300;
}

.link-hover:hover::after {
  @apply w-full;
}
